@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.header {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: black;
}

.search {
    margin: auto;
}

.logo-name{
    color: white;
}