<!--The content below is only a placeholder and can be replaced.-->
<app-header title='header'></app-header>

<div class="banner font bg-primary text-white">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="banner-text">
                    <h1>Comece Agora!</h1>
                    <p class="lead">Desenvolva o seu conhecimento!</p>
                    
                    <button mat-flat-button class="banner-button">Começar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="list-course-title font">Cursos</h2>

<app-tab class="principal-tab"></app-tab>

<router-outlet></router-outlet>