<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/regular.css" integrity="sha384-z3ccjLyn+akM2DtvRQCXJwvT5bGZsspS4uptQKNXNg778nyzvdMqiGcqHVGiAUyY"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT"
  crossorigin="anonymous">

<div class="d-flex align-items-center jumbotron text-center h-75">
  <div class="container container-fluid">
    <i class="far fa-frown-open fa-10x"></i>
    <h1>404 Not Found</h1>
    <p>Página não encontrada! Retornar a <a routerLink="/">página Inicial</a>.</p>
  </div>
</div>

<div class="container"></div>